@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-scroll;
}

.background-gradient {
  @apply w-full h-screen bg-gradient-to-r from-violet-100 to-violet-500 background-animate;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

[data-theme="user"] > * {
  @apply border-theme;
}

.bg-onboard {
  background-image: url(/background.jpeg);
  background-size: 86.125rem;
}

[data-theme="light"] input:not(#react-select-3-input) {
  @apply ring-1 !bg-slate-900 text-white;
}

.input-disabled,
.input[disabled] {
  @apply ring-1 bg-slate-900 text-white border-[hsl(var(--bc)_/_var(--tw-border-opacity))];
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.magic-card {
  @apply w-1/2;
  padding: 2px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.magic-card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.magic-card:hover:before,
.magic-card:hover:after {
  animation: none;
  opacity: 0;
}

.magic-card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-box, 1rem);
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  animation: magin-spin 2.5s linear infinite;
}

.magic-card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes magin-spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.btn-disabled,
.btn-disabled:hover,
.btn[disabled],
.btn[disabled]:hover {
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  color: gray;
  --tw-bg-opacity: 1;
}

.toolbar-icons button {
  @apply hover:bg-primary-hover text-primary p-1.5 rounded-lg;
}

.toolbar-icon {
  @apply flex bg-contain bg-center bg-no-repeat w-[20px] h-[20px];
}

i.bold {
  background-image: url(/assets/type-bold.svg);
}

i.italic {
  background-image: url(/assets/type-italic.svg);
}

i.code {
  background-image: url(/assets/type-code.svg);
}

div[data-lexical-editor="true"] {
  @apply outline-none;
}

.text-italic {
  font-style: italic;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.typeahead-popover ul li.selected {
  background: #eee;
}

.typeahead-popover li:last-child {
  border-radius: 0 0 8px 8px;
}

.emoji-menu {
  width: 200px;
}

.typeahead-popover {
  background: #fff;
  box-shadow: 0 5px 10px #0000004d;
  border-radius: 8px;
  margin-top: 25px;
}
.typeahead-popover ul li {
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.typeahead-popover li {
  margin: 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
}

.lexical-about {
  @apply text-white;
}

.onboard-icon {
  color: white;
}

[data-theme="user"] .onboard-icon {
  @apply text-theme;
}
[data-theme="user"] .toolbar-icons button:hover .onboard-icon {
  @apply text-white;
}

[data-theme="user"] .tier-card {
  @apply ring-1 border-0 bg-slate-900/60;
}

.lexical-editor a {
  @apply underline;
}

.PlaygroundEditorTheme__nestedListItem {
  list-style-type: none;
}
.PlaygroundEditorTheme__nestedListItem:before,
.PlaygroundEditorTheme__nestedListItem:after {
  display: none;
}

.PlaygroundEditorTheme__ol1 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol2 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: upper-alpha;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol3 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: lower-alpha;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol4 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: upper-roman;
  list-style-position: inside;
}
.PlaygroundEditorTheme__ol5 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: lower-roman;
  list-style-position: inside;
}

.PlaygroundEditorTheme__listItem {
  margin: 0 32px;
}

.lexical-editor ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.lexical-editor h1 {
  @apply text-3xl font-bold;
}

.lexical-editor h2 {
  @apply text-2xl font-bold;
}

.lexical-editor h3 {
  @apply text-xl font-bold;
}

.lexical-editor h4 {
  @apply text-lg font-bold;
}
