@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-scroll;
}

.background-gradient {
  @apply w-full h-screen bg-gradient-to-r from-violet-100 to-violet-500 background-animate;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

[data-theme="user"] > * {
  @apply border-theme;
}

.bg-onboard {
  background-image: url(/background.jpeg);
  background-size: 86.125rem;
}

.bg-onboard-overlay {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'><path d='M0 .5H31.5V32'/></svg>");
}

[data-theme="light"] input {
  @apply ring-1 !bg-slate-900 text-white;
}

.input-disabled, .input[disabled] {
  @apply ring-1 bg-slate-900 text-white border-[hsl(var(--bc)_/_var(--tw-border-opacity))];
}